[submodule "sub/utils"]
	path = sub/utils
	url = https://github.com/dragonsourced/utils
[submodule "sub/sowm"]
	path = sub/sowm
	url = https://github.com/dragonsourced/sowm
[submodule "sub/nvim"]
	path = sub/nvim
	url = https://github.com/dragonsourced/nvim
