# m h  dom mon dow   command

PATH = /home/gaf/bin:/home/gaf/src/scripts:/bin:/usr/bin:/usr/local/bin
HOME = /home/gaf

0       *       * * * cov fetch
0       *       * * * DISPLAY=:0 rss update

55	20	* * * wall "SHUTTING DOWN IN 5"
56	20	* * * wall "SHUTTING DOWN IN 4"
57	20	* * * wall "SHUTTING DOWN IN 3"
58	20	* * * wall "SHUTTING DOWN IN 2"
59	20	* * * wall "SHUTTING DOWN IN 1"
*	21	* * * poweroff
