# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

PATH = /bin:/usr/bin:/usr/local/bin:/home/Gordon/src/scripts:/home/Gordon/bin
HOME = /home/Gordon

# prompt for lucid-dream checks every 5 minutes

0       *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
5       *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
10      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
15      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
20      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
25      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
30      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
35      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
40      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
45      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
50      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."
55      *       * * * DISPLAY=:0 notify-send "DREAMS" "Lucidity must be attained."

*       *       * * * cov fetch
0       *       * * * sfeed_update

0       17      * * * DISPLAY=:0 sudo -u Gordon theme set dark
0       0       * * * DISPLAY=:0 sudo -u Gordon theme set light

45      20      * * * DISPLAY=:0 notify-send "TIME" "15 minutes"
50      20      * * * DISPLAY=:0 notify-send "TIME" "10 minutes"
55      20      * * * DISPLAY=:0 notify-send "TIME" "5 minutes"
0       21      * * * DISPLAY=:0 notify-send "TIME" "It has come."
