#back-button, #forward-button {
	visibility: collapse;
}

#TabsToolbar:not([customizing]) {
	visibility: collapse !important;
}

#nav-bar:not([customizing]) {
	height: 40px;
}

#nav-bar:not([customizing]):not(:focus-within) {
	opacity: 0;
	margin-top: -40px;
	z-index: -1000;
}

#sidebar-box + #sidebar-splitter { display: none !important; }
#sidebar-box #sidebar-header { visibility: collapse !important; }

toolbar {
	visibility: visible !important;
}
